{% load static %}
<!DOCTYPE html>
<html lang="ar">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TEDxKSAUHS لو أن</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		    <link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <style>
      @font-face {
    font-family: 'GE Dinar One';
    font-weight: normal;
    src: url("{% static 'fonts/ge-dinar-one-light.woff' %}");
}

      body {
  font-family: 'GE Dinar One'
}

    </style>
    
    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">BootZard - Bootstrap Wizard Template</a>
				</div>
				<!-- Collect the navstatic filesstatic files links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								لمتابعة مستجدات 
							</span>
							<a href="#"><strong>TEDxKSAUSH</strong></a>
							
							<span class="li-social">
			
		<a href="https://twitter.com/TEDxKSAUHS" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://tedxksauhs.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
		<a href="https://t.me/StudentsofKSAUH" target="_blank"><i class="fa fa-paper-plane"></i></a>

		<a href="https://www.snapchat.com/add/studentsofksauh" target="_blank"><i class="fa fa-snapchat-ghost"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>تسجيل حضور<br>  <span style="color: #ff2b06;">TED<sup>x</sup></span></b> KSAUHS.</h1>
                        <div class="description">
                       	    <p>
			      "ينظّم نادي الطلاب في جامعة الملك سعود بن عبد العزيز للعلوم الصحية تدكس "لو أن" <a href="http://azmind.com"><strong>تدكس "لو أن"</strong></a> في يوم السبت 15 أبريل في مركز المؤتمرات في جامعةالملك سعود بن عبدالعزيز للعلوم الصحية!

			    </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" method="post" class="f1">
                        {% csrf_token %}
                    		<h3>سجّل في تدكس "لو أن"</h3>
                    		<p>سنتعرف عليك من خلال النموذج التالي ;)</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>معلومات شخصية</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>عن TEDx</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-calendar"></i></div>
                    				<p>عن الحدث</p>
                    			</div>
                    		</div>

                    		<fieldset>
                    		    <h4>أخبرنا عن نفسك:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="id_name">أسمك</label>
                                    <input type="text" name="name" placeholder="أسمك" class="f1-first-name form-control" id="id_name" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_gender">الجندر</label>
                                        <select {% if form.gender.value and not form.gender.errors %}value="{{ form.gender.value }}" {% endif %}class="form-control" id="id_gender" name="gender"  title="{{ form.gender.label }}" required>
                                                <option value="">{{ form.gender.label }}</option>
                                                {% for value, label in form.fields.gender.widget.choices %}
                                                <option {% if form.gender.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endfor %}
					</select>	 
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_age">العمر</label>
                                    <input type="text" name="age" placeholder="العمر" class="f1-last-name form-control" id="id_age" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_mobile">رقم الجوال</label>
                                    <input type="text" name="mobile" placeholder="رقم الجوال" class="f1-last-name form-control" id="id_mobile" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_email">البريد الإلكتروني</label>
                                    <input type="text" name="email" placeholder="البريد الإلكتروني" class="f1-last-name form-control" id="id_email" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_city">المدينة</label>
                                    <input type="text" name="city" placeholder="المدينة" class="f1-last-name form-control" id="id_city" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_fromNGH">من منسوبي الحرس الوطني؟</label>
                                     <h3> من منسوبي الحرس الوطني؟</h3>
				     <input type="radio" name="take_pic" value="Yes"> لا<br>
				     <input type="radio" name="take_pic" value="No"> نعم
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_job_title"></label>
                                    <input type="text" name="job_title" placeholder="المسمى الوظيفي" class="f1-last-name form-control" id="id_job_title" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_yourself">تحدث عن نفسك</label>
                                    <textarea name="yourself" placeholder="تحدث عن نفسك"
                                    	                 class="f1-about-yourself form-control" id="id_yourself" required></textarea>
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">التالي</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>عن TEDx:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="id_about_tedx">تحدث عن TEDx</label>
                                    <textarea name="about_tedx" placeholder="تحدث عن TEDx.."
                                                       class="f1-about-yourself form-control" id="id_about_tedx" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_attend_tedx">هل حضرت لتدكس؟</label>
                                    <input type="text" name="attend_tedx" placeholder="هل حضرت لتدكس..." class="f1-email form-control" id="id_attend_tedx" required>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_past_experience">تحدث عن تجربتك السابقة</label>
                                    <textarea name="about_tedx" placeholder="تحدث عن تجربتك السابقة.."
                                                       class="f1-about-yourself form-control" id="id_about_tedx" ></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_referral">كيف سمعت  عن tedxksauhs ؟</label>
                                    <input type="text" name="referral" placeholder="كيف سمعت  عن tedxksauhs ؟..." class="f1-email form-control" id="id_referral" required>
                                </div>

                                <div class="form-group">
                                      <label class="sr-only" for="id_expectations">ماذا تتوقع من tedxksauhs ؟</label>
                                      <input type="text" name="expectations" placeholder="ماذا تتوقع من tedxksauhs ؟..." class="f1-email form-control" id="id_expectations" required>
                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">عودة</button>
                                    <button type="button" class="btn btn-next">التالي</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>عن الحدث:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="id_meaning">ماذا تعني لك "لو أن"؟</label>
                                    <textarea name="meaning" placeholder="ماذا تعني لك لو أن؟.."
                                                       class="f1-about-yourself form-control" id="id_meaning" required ></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_interview">هل تسمح بعمل مقابلات معك قبل و بعد الحدث؟ </label>
				    <h3> هل تسمح بعمل مقابلة معك قبل وبعد الحدث؟ </h3>
				     <input type="radio" name="interview" value="Yes"> لا<br>
				     <input type="radio" name="interview" value="No"> نعم
				</div>

                                <div class="form-group">
                                  <label class="sr-only" for="id_take_pic">هل تقبل بالتصوير أثناء الحدث؟</label>
				  <h3> هل تقبل بالتصوير أثناء الحدث؟ </h3>
				     <input type="radio" name="take_pic" value="Yes"> لا<br>
				     <input type="radio" name="take_pic" value="No"> نعم
				</div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_your_interest">اختر أحد الاهتمامات التالية التي تناسب ميولك :</label>
                                     <select {% if form.your_interest.value and not form.your_interst.errors %}value="{{ form.your_interest.value }}" {% endif %}class="form-control" id="id_your_interest" name="your_interest"  title="{{ form.your_interest.label }}" required>
                                                <option value="">{{ form.your_interest.label }}</option>
                                                {% for value, label in form.fields.your_interest.widget.choices %}
                                                <option {% if form.your_interest.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endfor %}
					 </select>
                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">عودة</button>
                                    <button type="submit" class="btn btn-submit">سجلني</button>
                                </div>
                            </fieldset>

                    	</form>
                    </div>
                </div>

            </div>
        </div>


        <!-- Javascript -->
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/placeholder.js' %}"></script>
<script>
    /*
        Fullscreen background
    */

    $.backstretch("{% static 'img/backgrounds/1.jpg' %}");
</script>
    </body>

</html>
